*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0px 115.2px;
    height: 92px;

}
.navbar .nav-logo img{
    margin: 16px 0px;
    

}
.navbar .item{
    display: flex;
    list-style: none;
    width: 350.4px;
    justify-content: space-between;
    align-items: center;
    color: #001931;
    margin: 34px 332.16px;
    font-size: 16px;
    font-weight: 500;
    
}
.navbar .item a{
    text-decoration: none;
}
.navbar .btn{
    align-items: center;
    color: #FFFFFF;
    background-color: #469165;
    padding:12.5px 16px ;
    margin: 24px 0px;
    border: none;
    border-radius: 4px;
    font-weight: 600px;
    font-size: 16px;
    font-weight: 600px;
    width: 164px;
    height: 44px;
}
header{
    background: url(/images/hero-bg.png);
    width:100%;
    height: 674px;

    
}
.banner{
    padding:115.5px 105.2px 179.5px 105.2px;
    height: 379px;
}
.for-title{
    height: 295px;
}
.for-above{
    height: 35px;
    text-align: center;
}
.for-above button{
    color: #469165;
    padding: 5px;
    border-radius:1000px;
}
.for-h{
    height: 168px;
    margin: 16px 295px 16px 295px;
    text-align: center;
}
.for-h h1{
    font-size: 70px;
    color: #FFFFFF;

}
.for-h h2{
    font-size: 75px;
    color: #469165;
}
.for-p{
    height: 60px;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
}
#p1{
    margin-bottom: 18px;
}
.for-btn{
    height: 84px;
    text-align: center;
    
    
}
.for-btn button{
    height: 52px;
    margin-top: 32px;
    gap: 16px;
    font-size: 16px;
    font-weight: 600px;
    border-radius: 4px;
}
#btn1{
    background-color: #469165;
    padding: 16px;
    border: none;
}
#btn2{
    background: none;
    padding: 16px;
    color: white;
    border: 1px solid white;

}
.for-card{
    height: 448px;
}
.for-card1{
    height: 152px;
    margin: 0px 115.2px;
    text-align: center;
    
}
.for-card1 h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 20px;

    
}
.for-card1 p{

    margin-bottom: 44px;
}
.card{
    display: flex;
    padding: 0px 115.2px 0px 115.2px;
    gap: 22px;

}
.card1{
    
    width: 318.72px;
    height: 300px;
    text-align: center;
    background-color: #FFFFFF;
}
.card1 h1{
    margin-bottom:16px 24px;
    font-size: 24px;
    font-weight: 600px;
    padding: 0px 24px;

}
.card1 p{
    margin-top: 16px;
    padding: 0px 24px;
}
.card1 img{
    background-color:#F95555;
    background-size: 60px;
    border-radius: 50px;
    padding: 14px;
    margin:69.5px 125.76px 16px 125.76px;

    
    
}
.for-knowledge{
    height: 840px;
    
    
}
.knowledge{
    display: flex;
    padding: 115.2px;
    
    gap: 60px;
}
.knowledge .Info{
    align-items: center;
    margin: 102px 0px 102px 0px;

}
#medium{
    margin-top: 16px;
    margin-bottom: 16px;
}
#low{
    margin-bottom: 40px;
}
.for-Info2 p{
    margin-bottom: 16px;
}
.for-Early{
    height: 506px;
    
}
.Early{
    margin: 0px 115.5px 115.5px 115.5px;

    height: 384px;
    padding: 80px 40px;
    text-align: center;
    background-color: #F7F6F2;
}
.Early1{
    margin-bottom: 24px;
}
.Early1 h1{
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: bold;
    color: #001931;
}
.Early1 p,.Early2 p{
    font-size: 16px;
    color: #627382;
}
.Early2 button{
    text-align: center;
    background-color: #469165;
    margin-bottom: 16px;
    padding: 16px;
    border: none;
    border-radius: 4px;
}

    
}
.for-right button{
    align-items: center;
}

.for-footer{
    height: 348px;
    background-color: #001931;
    border: 2px solid green;
}
.footer{
    margin:115.5px 115.5px 80px 115.5px ;
    display: flex;
    justify-content: space-between;
}
.footer1 p{
    color: white;
    width: 220px;
    margin-bottom: 34px;
}
.footer2{
    padding:80px 115.5px 0px 115.5px ;
    text-align: center;
    border-top: 0.1px solid #627382;
    
}
.footer2 p{
    color: #F7F6F2;
    font-size: 16px;
}
.footer-icon{
    width: 92px;
    display: flex;
}
.footer-icon i{
    background-color: white;
    padding: 5px;
    border-radius: 50px;

    margin-right:16px;
    
}
.footer-p{
    margin: 0px 115.2px;
    color: white;
    text-align: center;
    border-top: 1px solid #469165;
    height: 54px;
    padding-top: 30px;
    
}



